@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Comfortaa:wght@400;500;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

section {
	padding: 70px 0;
}

.max-width {
	max-width: 1400px;
	padding: 0 80px;
	margin: auto;
}

.navbar {
	position: fixed;
	width: 100%;
	z-index: 1000;
	padding: 30px 0;
	font-family: 'Comfortaa', sans-serif;
	transition: all 0.3s ease;
}

.navbar.sticky {
	padding: 15px 0;
	background: #35a5d5;
}

.navbar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar .logo a {
	color: #fff;
	font-size: 35px;
	font-weight: 600;
}

.navbar .logo a span {
	color: #35a5d5;
	transition: all 0.3s ease;
}

.navbar.sticky .logo a span {
	color: #fff;
}

.navbar .menu li {
	list-style: none;
	display: inline-block;
}

.navbar .menu li a {
	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}

.navbar .menu li a:hover {
	color: #35a5d5;
}

.navbar.sticky .menu li a:hover {
	color: #fff;
}

.menu-btn {
	color: #fff;
	font-size: 23px;
	cursor: pointer;
	display: none;
}

.home {
	display: flex;
	background: url(./assets/background.svg) no-repeat center;
	height: 100vh;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	min-height: 500px;
	font-family: 'Comfortaa', sans-serif;
}


.home .home-content {
	text-align: center;
}

.home .home-content .text-1 {
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}

.home .home-content .text-2 {
	font-size: 40px;
	margin: 5px 0;
}

.home .home-content .text-2 span {
	color: #35a5d5;
	font-weight: 500;
}

.home .home-content a {
	display: inline-block;
	background: #35a5d5;
	color: #fff;
	font-size: 25px;
	padding: 12px 36px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid #35a5d5;
	transition: all 0.3s ease;
}

.home .home-content a:hover {
	color: #35a5d5;
	background: none;
}

.home .max-width a {
	justify-content: center;
	align-items: center;
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid #35a5d5;
  position: absolute;
  left: 50%;
  margin-top: 10%;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
  content: ""; 
  position: absolute;
  top: 20%;
  left: 50%;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #35a5d5;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::before {
  top: 30%;
  animation-delay: 0.3s;
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    top: 90%;
    opacity: 0;
  }
}

section .title {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Comfortaa', sans-serif;
}

section .title::after {
	position: absolute;
	bottom: -12px;
	left: 50%;
	font-size: 20px;
	color: #35a5d5;
	padding: 4px;
	background: #fff;
	transform: translateX(-50%);
}

.about, .skills, .projects, .contact, footer {
	font-family: 'Poppins', sans-serif;
	margin-bottom: 80px;
	margin-top: 40px;
}

.about .about-content,
.skills .skills-content,
.contact .contact-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.about .title::after {
	content: "Who I am";
}

.about .about-content .left img {
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 6px;
}

.about .about-content .left {
	width: 45%;
}

.about .about-content .right {
	width: 55%;
}

.about .about-content .right .text {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.about .about-content .right a {
	color: #35a5d5;
}

.about .about-content .right .text span {
	color: #35a5d5;
}

.about .about-content .right p {
	text-align: justify;
	margin-bottom: 20px;
}

.about .about-content .right .icon-link {
	margin: 10px;
	font-size: 45px;
	color: #35a5d5;
	transition: all 0.3s ease;
}

.about .about-content .icon-link i {
	transition: color .3s ease;
}

.fa-linkedin:hover {
	color: #0b65c3;
}

.fa-github-square:hover {
	color: #171516;
}

.fa-twitter-square:hover {
	color: #1da1f2;
}

.skills .title::before {
	background: #fff;
}

.skills .title::after{
	background: transparent;
	content: "Programming and tools";
}

.skills-content {
	padding-bottom: 30px;
}

.skills {
  display: grid;
  height: 100%;
  place-items: center;
  color: #fff;
  background: url(./assets/background.svg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
  padding-bottom: 40px;
}

.icons {
  display: inline-flex;
  column-gap: 15px;
}

.icons a {
  margin: 0 25px;
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
  cursor: pointer;
}

.icons a .layer {
  width: 70px;
  height: 70px;
  transition: transform 0.3s;
}

.icons a:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.icons a .layer span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: all .8s;
}

.icons a .layer span.fab,
.icons a .layer span.fas {
  font-size: 45px;
  line-height: 70px;
  text-align: center;
}

.icons a:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icons a:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.icons a:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.icons a:hover .layer span:nth-child(4) {
  opacity: 0.6;
  transform: translate(15px, -15px);
}

.icons a:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.icons a:nth-child(1) .layer span,
.icons a:nth-child(1) .text {
  color: #e15525;
  border-color: #e15525;
}

.icons a:nth-child(2) .layer span,
.icons a:nth-child(2) .text {
  color: #0c68ba;
  border-color: #0c68ba;
}

.icons a:nth-child(3) .layer span,
.icons a:nth-child(3) .text {
	color: #f7df1e;
  border-color: #f7df1e;
}

.icons a:nth-child(4) .layer span,
.icons a:nth-child(4) .text {
	color: #61dafb;
  border-color: #61dafb;
}

.icons a:nth-child(5) .layer span,
.icons a:nth-child(5) .text {
	color: #e76e00;
  border-color: #e76e00;
}

.icons a:nth-child(6) .layer span,
.icons a:nth-child(6) .text {
	color: #366a96;
  border-color: #366a96;
}

.icons a:nth-child(7) .layer span,
.icons a:nth-child(7) .text {
	color: #f05033;
  border-color: #f05033;
}

.icons a:nth-child(8) .layer span,
.icons a:nth-child(8) .text {
  color: #fff;
  border-color: #fff;
}

.icons a:hover:nth-child(1) .layer span {
  box-shadow: -1px 1px 3px #e15525;
}

.icons a:hover:nth-child(2) .layer span {
  box-shadow: -1px 1px 3px #0c68ba;
}

.icons a:hover:nth-child(3) .layer span {
  box-shadow: -1px 1px 3px #f7df1e;
}

.icons a:hover:nth-child(4) .layer span {
  box-shadow: -1px 1px 3px #61dafb;
}

.icons a:hover:nth-child(5) .layer span {
  box-shadow: -1px 1px 3px #e76e00;
}

.icons a:hover:nth-child(6) .layer span {
  box-shadow: -1px 1px 3px #366a96;
}

.icons a:hover:nth-child(7) .layer span {
  box-shadow: -1px 1px 3px #f05033;
}

.icons a:hover:nth-child(8) .layer span {
  box-shadow: -1px 1px 3px #fff;
}

.icons a .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  transform: translateX(-50%);
  transition: bottom .5s ease, opacity .5s ease;
}

.icons a:hover .text {
  bottom: -35px;
  opacity: 1;
}

.projects p {
	color: #fff;
}

.projects text {
	color: none;
}

.projects .title::after {
	content: "Developed by me";
}

.projects .carousel .card {
	background: url(./assets/background.svg) no-repeat center;
	background-size: cover;
	border-radius: 6px;
	padding: 25px 35px;
	text-align: center;
	overflow: hidden;
	transition: all 0.3s ease;
}

.projects .carousel .card .box{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
}

.projects .carousel .card:hover .box {
	transform: scale(1.05);
}

.projects .carousel .card .text {
	font-size: 25px;
	font-weight: 500;
	margin: 10px 0 7px 0;
}

.projects .carousel .card img {
	height: 150px;
	width: 250px;
	object-fit: cover;
	border-radius: 10px;
	border: 3px solid #35a5d5;
	transition: all 0.3s ease;
}

.projects a {
	display: inline-block;
	background: #00001a;
	color: #fff;
	font-size: 15px;
	padding: 8px 24px;
	margin-top: 15px;
	border-radius: 6px;
	border: 2px solid #35a5d5;
	transition: all 0.3s ease;
}

.projects a:hover {
	background: #35a5d5;
}

.projects .text {
	color: #fff;
}

.projects i {
	align-items: center;
	display: flex;
}

.owl-dots {
	text-align: center;
	margin-top: 20px;
}

/* sorry for the !important */

.owl-dot {
	height: 13px;
	width: 13px;
	margin: 0 5px;
	outline: none!important;
	border-radius: 50%;
	border: 2px solid #35a5d5!important;
	transition: all 0.3s ease;
}

.owl-dot.active {
	width: 35px;
	border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
	background: #35a5d5!important;
}

.contact .title::after {
	content: "Get in touch";
}

.contact .contact-content .column {
	width: calc(50% - 30px);
}

.contact .contact-content .text {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 10px;
}

.contact .contact-content .left p { 
	text-align: justify;
}

.contact .contact-content .left .icons {
	margin: 10px 0;
}

.contact .contact-content .left .icons .fa-map-marker-alt {
	margin-left: 3px;
	margin-right: 1px;
}

.contact .contact-content .left .icons .fa-user {
	margin-left: 2px;
}

.contact .contact-content .row {
	display: flex;
	height: 65px;
	align-items: center;
}

.contact .contact-content .row .info {
	margin-left: 30px;
}

.fa-map-marker-alt {
	padding-left: 5px;
}

.contact .contact-content .row i {
    font-size: 25px;
    color: #35a5d5;
    padding-top: 20px;
}

.contact .contact-content .info .head {
    font-weight: 500;
    padding-top: 20px;
}

.contact .contact-content .info .sub-title {
    color: #333;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .email {
	margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
	padding-top: 10px;
	resize: none;
}

.contact .right form .button-area {
	display: flex;
	align-items: center;
}

.right form .button-area button {
 	color: #fff;
 	display: block;
 	width: 160px!important;
 	height: 45px;
 	outline: none;
 	font-size: 18px;
 	font-weight: 500;
 	border-radius: 6px;
 	cursor: pointer;
 	flex-wrap: nowrap;
 	background: #35a5d5;
 	border: 2px solid #35a5d5;
 	transition: all 0.3s ease;
}

.right form .button-area button:hover {
	color: #35a5d5;
	background: none;
}

footer {
	background: url(./assets/background.svg) no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	padding: 15px 23px;
	text-align: center;
	color: #fff;
	position: absolute;
	width: 100%;
}

footer span a {
	color: #35a5d5;
	text-decoration: none;
}

footer span a:hover {
	text-decoration: underline;
}

@media (max-width: 1400px) {
	.skills .skills-content .icons {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-row-gap: 45px;
		justify-content: center;
	}
}

@media (max-width: 1104px) {
	.about .about-content .left img {
		height: 350px;
		width: 350px;
	}
}

@media (max-width: 991px) {
	.max-width {
		padding: 0 50px;
	}
}

@media (max-width: 947px) {
	.menu-btn {
		display: block;
		z-index: 999;
	}

	.menu-btn i.active:before {
		content: "\f00d";
	}

	.navbar .menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: #111;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}

	.navbar .menu.active {
		left: 0;
	}

	.navbar .menu li {
		display: block;
	}

	.navbar .menu li a {
		display: inline-block;
		margin: 20px 0;
		font-size: 25px;
	}

	.home .home-content .text-1 {
		font-size: 70px;
	}

	.home .home-content .text-2 {
		font-size: 35px;
	}

	.home .home-content a {
		font-size: 23px;
		padding: 10px 30px;
	}

	.max-width {
		max-width: 800px;
	}

	.projects .title::after,
	.skills .title::after {
		bottom: -30px;
		padding: 5px;
	}

	.about .about-content .column {
		width: 100%;
	}

	.about .about-content .left {
		display: flex;
		justify-content: center;
		margin: 0 auto 60px;
	}

	.about .about-content .right {
		flex: 100%;
	}

	.skills .skills-content .icons {
		grid-template-columns: repeat(3, 1fr);
		grid-row-gap: 45px;
		justify-content: center;
	}

	.contact .contact-content .column {
		width: 100%;
		margin-bottom: 35px;
	}
}

@media (max-width: 690px) {
	.home .home-content .text-1 {
		font-size: 60px;
	}

	.home .home-content .text-2 {
		font-size: 32px;
	}

	.home .home-content a {
		font-size: 20px;
	}

	.skills .skills-content .icons {
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 45px;
		justify-content: center;
	}
}

@media (max-width: 500px) {
	.home .home-content .text-1 {
		font-size: 40px;
	}

	.home .home-content .text-2 {
		font-size: 25px;
	}
	
	.contact .title::after {
		padding: 0;
	}
}